<ul>
  <li *ngFor="let book of books; let i = index">
    {{i}} {{book}}
  </li>
</ul>
<br>
<br>
<br>
<div id="wrapper">
<div id="left">
<h1 class = "title">Books List</h1>
<!--////////////////////////////////////-->
<div >
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Gender</th>
        <th>Author</th>
        <th>Book</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Male</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td>Raffi</td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>Samvel</td>
      </tr>
            <tr>
        <td></td>
        <td></td>
        <td>Khent</td>
      </tr>
    </tbody>
  </table>
</div>
<!--///////////////////////////////////////-->
</div>
<div id="right">
<h1 class="title">Favorite Books</h1>
</div>
</div>
<style>
#wrapper {width: 100%; margin: auto;}
#left { width: 60%; float: left;}
#right { width: 40%; float: right}
.title {   text-align:center;}
</style>






